h3 {
  font-style:italic;
  color:blue;
  border: 1px solid #CCCCCC;
}
body {
  background-color:#838892;
  width:200%;
  margin-left: auto;
  margin-right: auto;
  line-height:150%;
  text-indent:5px;
}
@font-face{
  font-family:myFontName;
  src: url(https://www.fontsquirrel.com/fonts/kaushan-script)
}
h2{
  font-family:"myFontName","Comic Sans MS";
  padding: 10px 0;
}
.impair{
  background-color:#5BBDBF;
}
.pair{
  background-color:#FF5850;
}
.image{
  height:300px;
  float: right;
}
.skill{
  color:red;
  font-style:italic;
}
.lien{
  text-decoration: none;
}
a:visited {
  color: #0088FF;}
a:hover {
  color: orange;}
thead{
  color:#00AAFF;
}
table .skill{
  color:#640051;
  padding: 0 5px;
}

.para{
  display:flex;
}

tbody>tr:nth-child(even){
  background-color: white;
}
tbody>tr:nth-child(odd){
  background-color: #CCC;
  width: 10%;
}
p{
  margin: 30px 0;
}
.par{
  clear: both;
}
.para{
  display:flex;
}
table{
  margin: auto;
  display:block;
  overflow-x:scroll;
  white-space:nowrap;
}
nav{
  width:75%;
  margin:0 auto;
  height: 50px;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
}
nav > div{
  background-color:#5BBDBF;
  display:flex;
  position:relative;
  align-items:stretch;
}
nav a{
  padding: 0 10px;
  border:2px solid black;
}
.submenu{
  position:absolute;
  top:50px;
  left:0px;
  background-color: #aca;
  display:none;
}
nav > div:hover > .submenu{
  display:block;
}
header{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  background-color:white;
}
blockquote{
  margin:auto;
}
main{
  display:flex;
}
article{
  width:300px;
  background-color:#CCC;
  max-width:500px;
  min-width:200px;
  flex-shrink:67%;
  flex-grow:3;
}
aside{
  width:2000000px;
  background-color:#CCC;
  max-width:250px;
  min-width:150px;
  flex-shrink:33%;
}
tr>th:first-child:nth-child(even){
  position:sticky;
  left:10px;
  border-right:20px;
  background-color:white;
}
tr>th:first-child:nth-child(odd){
  position:sticky;
  left:10px;
  border-right:20px;
  background-color:#CCC;
}
@media(max-width:768px) {
  table {display:none;}
}
@media(max-width:480px) {
  main  {flex-direction:column;}
  nav{display:none;}
}
@media(max-width:168px) {
  header{display:none;}
  article{display:none;}
  .sites{display:none;}
  footer{display:none;}
  .twitter{display:none;}
  .facebook{display:none;}
}
.burger{
  width:50px;
  position:fixed;
  top:0px;
  left:0px;
  z-index:1000;
}
@media(min-width:480px){
  .burger{display:none;}
}
#menu2{
  visibility:hidden;
}
.burger:hover > #menu2{
  visibility:visible;
}
